String Operation

In [ ]:
some_sentance = "There is a space after end   "

In [ ]:
print(some_sentance.rstrip())

There is a space after end

In [ ]:
some_sentance_left = "   There is a space before start"

In [ ]:
print(some_sentance_left.lstrip())

There is a space after end

In [ ]:
some_sentance_both = "   trim space    "

In [ ]:
print(some_sentance_both.strip())

trim space

In [ ]:
increment = "100%"

In [ ]:
print(increment.rstrip("%"))

100

In [ ]:
number_with_char = "*1234#"

In [ ]:
print(number_with_char.lstrip("*").rstrip("#"))

1234

index and slice strings

In [ ]:
value = "2 person"
no_of_man = value[0]
print(no_of_man)

2

In [ ]:
print(value[2:])

person

In [ ]:
print(value[2:5])

per

In [ ]:
batch = "5 oranges 3 monkeys n"
fruit = batch [:9]
print(fruit)

5 oranges

In [ ]:
nums = "123456"
even_nums = nums[1::2]
print (even_nums)

246

In [ ]:
odd_nums = nums[0::2]
print(odd_nums)

135

In [ ]:
A = "Data"
B = "Analysis"
C = "Panda"
print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Panda

# Assignment
input_str = "Kumar_Ravi_003"
second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'

In [ ]:
input_str = "Kumar_Ravi_003" 
second_name=input_str[:5]
print(second_name)

Kumar

In [ ]:
first_name=input_str[6:10]
print(first_name)

Ravi

In [ ]:
customer_code = input_str[11:]
print(customer_code)

003

In [ ]:
py="I love Python programming"
print(py[7:13])

Python

In [ ]:
print(len('Python'))

6

In [2]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']

In [3]:
input_list.remove('SPSS')

In [4]:
input_list.append('SPARK')

In [5]:
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

In [6]:
input_str = 'I love Data Science & Python'

In [7]:
input_str.split('&')

['I love Data Science ', ' Python']

In [26]:
input_str1 = "Pythons syntax is easy to learn,Pythons syntax is very clear"

In [32]:
input_str = input_str1.split(',')

In [33]:
#input_str.replace(',',' & ')
" & ".join(input_str)

'Pythons syntax is easy to learn & Pythons syntax is very clear'

In [34]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [43]:
input_list[2][0]

'Python'

In [44]:
names=[1,2,3,4,5]

In [45]:
names[:3]

[1, 2, 3]

In [48]:
names[0:3]

[1, 2, 3]

In [77]:
input_tuple = ('Monty Python', 'British', 1969)

In [78]:
list1 = list(input_tuple)
list1.append("Python")
tuple_2 = tuple(list1)

In [79]:
tuple_2

('Monty Python', 'British', 1969, 'Python')

In [80]:
t = (1, 2, 4, 3)

In [81]:
t[3] = 5

TypeError: ignored

In [82]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }

In [85]:
input_dict.get("Label", "NA")

'NA'

In [86]:
input_dict= {'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}

In [88]:
input_dict.get("Tim Cook", "NA")

'Apple'

In [89]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [96]:
sorted(list(input_dict.values()))

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [97]:
d = dict(a=1, b=2)

In [99]:
type(d)

dict

In [101]:
d = {'a':1, 'b':2}

In [107]:
dict_1 = {"Python":40, "R":45}

In [110]:
del dict_1["R"]

In [111]:
dict_1

{'Python': 40}

In [112]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

In [113]:
list_1 = [1,2,3,4,5,6]
list_2 =[2,3,4,5,6,7,8,9]

In [133]:
set_1 = set((list_1))
set_2 = set((list_2))

In [140]:
answer_1 = set_1 - set_2
answer_2 = sorted(answer_1.union(set_2-set_1))

In [142]:
print(list(answer_1))
print(answer_2)

[1]
[1, 7, 8, 9]

In [150]:
input_str = 'nalytics'

In [151]:
vowels = ('a','e','i','o','u','A','E','I','O','U')
if input_str.startswith(vowels):
  print("YES")
else:
  print("NO")

NO

In [152]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [153]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [154]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [155]:
d = {0, 1, 2}
for x in d:
    print(d.add(x))

None
None
None

In [157]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        break

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3

In [158]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        continue

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3
4 is not divisible by 3
5 is not divisible by 3

In [159]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        pass

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3
3 is not divisible by 3
4 is not divisible by 3
5 is not divisible by 3

Creating a List Comprehension

In [161]:
n = 5

In [163]:
for i in range(1,n+1):
  print(i**2)

1
4
9
16
25

In [166]:
print([i**2 for i in range(1,n+1)])

[1, 4, 9, 16, 25]

In [169]:
input_list=["wood", "old", "apple", "big", "item", "euphoria"]
vowels = ['a','e','i','o','u','A','E','I','O','U']

In [170]:
list_vowel = [input_list for input_list in input_list if input_list[0] in vowels]

In [171]:
list_vowel

['old', 'apple', 'item', 'euphoria']

In [ ]:
n = 5

In [172]:
dictionary = dict((i,i**2) for i in range(1,n+1))

In [173]:
dictionary

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [174]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [175]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [176]:
def squared(x,y):
  return x**y


print(squared(2,3))

8

In [183]:
greater = lambda x,y :x if x>y  else y

In [181]:
greater(2,3)

3

In [184]:
def say(message, times = 1):
    print(message * times)

say('Hello')
say('World', 5)

Hello
WorldWorldWorldWorldWorld

In [185]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

In [ ]:
cube = list(map(lambda x: x*x*x, input_list))
print(cube)

In [ ]:
sum(map(lambda x: x[0] == 'S', input_list))

In [ ]:
name = list(map(lambda x, y: x[0]+x[1:]+' '+ y[0]+y[1:], first_name, last_name))

In [ ]:
list_answer = list(filter(lambda x:  x % 5 == 0, input_list))

In [ ]:
sp = list(filter(lambda x:x.endswith("s") or x.endswith("p"), input_list))

In [ ]:
print(reduce(lambda x,y: x+" "+y, input_list))

In [ ]:
# . Find and print the largest number in input_list using the reduce() function.
input_list = [31, 63, 76, 89]
answer = reduce(lambda x,y: x if x > y else y, input_list)

In [186]:
((500//7) % 5) ** 3

1

In [187]:
S = "I love Python"

In [190]:
S[2:6]

'love'

In [191]:

S[-11:-7]

'love'

In [193]:
L = [1, 2, 3]

In [194]:
L * 2

[1, 2, 3, 1, 2, 3]

In [195]:
L = [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]

In [196]:
L[2: ]

[[7, 8, 9, 10]]

In [197]:
T = (3, 5, 7, 11)

In [198]:
T.append(9)

AttributeError: ignored

In [199]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [200]:
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

NameError: ignored

In [201]:
def my_func(*args):
    return(sum(args))

print(my_func(1,2,3,4,5))
print(my_func(6,7,8))

15
21

In [203]:
L = [1, 2, 3, 4]

In [206]:
list(map(lambda x : x ** 2, L))

[1, 4, 9, 16]