String Operation

In [ ]:
some_sentance = "There is a space after end   "

In [ ]:
print(some_sentance.rstrip())

There is a space after end

In [ ]:
some_sentance_left = "   There is a space before start"

In [ ]:
print(some_sentance_left.lstrip())

There is a space after end

In [ ]:
some_sentance_both = "   trim space    "

In [ ]:
print(some_sentance_both.strip())

trim space

In [ ]:
increment = "100%"

In [ ]:
print(increment.rstrip("%"))

100

In [ ]:
number_with_char = "*1234#"

In [ ]:
print(number_with_char.lstrip("*").rstrip("#"))

1234

index and slice strings

In [ ]:
value = "2 person"
no_of_man = value[0]
print(no_of_man)

2

In [ ]:
print(value[2:])

person

In [ ]:
print(value[2:5])

per

In [ ]:
batch = "5 oranges 3 monkeys n"
fruit = batch [:9]
print(fruit)

5 oranges

In [ ]:
nums = "123456"
even_nums = nums[1::2]
print (even_nums)

246

In [ ]:
odd_nums = nums[0::2]
print(odd_nums)

135

In [ ]:
A = "Data"
B = "Analysis"
C = "Panda"
print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Panda

# Assignment
input_str = "Kumar_Ravi_003"
second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'

In [ ]:
input_str = "Kumar_Ravi_003" 
second_name=input_str[:5]
print(second_name)

Kumar

In [ ]:
first_name=input_str[6:10]
print(first_name)

Ravi

In [ ]:
customer_code = input_str[11:]
print(customer_code)

003

In [ ]:
py="I love Python programming"
print(py[7:13])

Python

In [ ]:
print(len('Python'))

6

In [ ]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']

In [ ]:
input_list.remove('SPSS')

In [ ]:
input_list.append('SPARK')

In [ ]:
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

In [ ]:
input_str = 'I love Data Science & Python'

In [ ]:
input_str.split('&')

['I love Data Science ', ' Python']

In [ ]:
input_str1 = "Pythons syntax is easy to learn,Pythons syntax is very clear"

In [ ]:
input_str = input_str1.split(',')

In [ ]:
#input_str.replace(',',' & ')
" & ".join(input_str)

'Pythons syntax is easy to learn & Pythons syntax is very clear'

In [ ]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [ ]:
input_list[2][0]

'Python'

In [ ]:
names=[1,2,3,4,5]

In [ ]:
names[:3]

[1, 2, 3]

In [ ]:
names[0:3]

[1, 2, 3]

In [ ]:
input_tuple = ('Monty Python', 'British', 1969)

In [ ]:
list1 = list(input_tuple)
list1.append("Python")
tuple_2 = tuple(list1)

In [ ]:
tuple_2

('Monty Python', 'British', 1969, 'Python')

In [ ]:
t = (1, 2, 4, 3)

In [ ]:
t[3] = 5

TypeError: ignored

In [ ]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }

In [ ]:
input_dict.get("Label", "NA")

'NA'

In [ ]:
input_dict= {'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}

In [ ]:
input_dict.get("Tim Cook", "NA")

'Apple'

In [ ]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [ ]:
sorted(list(input_dict.values()))

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [ ]:
d = dict(a=1, b=2)

In [ ]:
type(d)

dict

In [ ]:
d = {'a':1, 'b':2}

In [ ]:
dict_1 = {"Python":40, "R":45}

In [ ]:
del dict_1["R"]

In [ ]:
dict_1

{'Python': 40}

In [ ]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

In [ ]:
list_1 = [1,2,3,4,5,6]
list_2 =[2,3,4,5,6,7,8,9]

In [ ]:
set_1 = set((list_1))
set_2 = set((list_2))

In [ ]:
answer_1 = set_1 - set_2
answer_2 = sorted(answer_1.union(set_2-set_1))

In [ ]:
print(list(answer_1))
print(answer_2)

[1]
[1, 7, 8, 9]

In [ ]:
input_str = 'nalytics'

In [ ]:
vowels = ('a','e','i','o','u','A','E','I','O','U')
if input_str.startswith(vowels):
  print("YES")
else:
  print("NO")

NO

In [ ]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [ ]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [ ]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [ ]:
d = {0, 1, 2}
for x in d:
    print(d.add(x))

None
None
None

In [ ]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        break

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3

In [ ]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        continue

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3
4 is not divisible by 3
5 is not divisible by 3

In [ ]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        pass

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3
3 is not divisible by 3
4 is not divisible by 3
5 is not divisible by 3

Creating a List Comprehension

In [ ]:
n = 5

In [ ]:
for i in range(1,n+1):
  print(i**2)

1
4
9
16
25

In [ ]:
print([i**2 for i in range(1,n+1)])

[1, 4, 9, 16, 25]

In [ ]:
input_list=["wood", "old", "apple", "big", "item", "euphoria"]
vowels = ['a','e','i','o','u','A','E','I','O','U']

In [ ]:
list_vowel = [input_list for input_list in input_list if input_list[0] in vowels]

In [ ]:
list_vowel

['old', 'apple', 'item', 'euphoria']

In [ ]:
n = 5

In [ ]:
dictionary = dict((i,i**2) for i in range(1,n+1))

In [ ]:
dictionary

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [ ]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [ ]:
def squared(x,y):
  return x**y


print(squared(2,3))

8

In [ ]:
greater = lambda x,y :x if x>y  else y

In [ ]:
greater(2,3)

3

In [ ]:
def say(message, times = 1):
    print(message * times)

say('Hello')
say('World', 5)

Hello
WorldWorldWorldWorldWorld

In [ ]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

In [ ]:
cube = list(map(lambda x: x*x*x, input_list))
print(cube)

In [ ]:
sum(map(lambda x: x[0] == 'S', input_list))

In [ ]:
name = list(map(lambda x, y: x[0]+x[1:]+' '+ y[0]+y[1:], first_name, last_name))

In [ ]:
list_answer = list(filter(lambda x:  x % 5 == 0, input_list))

In [ ]:
sp = list(filter(lambda x:x.endswith("s") or x.endswith("p"), input_list))

In [ ]:
print(reduce(lambda x,y: x+" "+y, input_list))

In [ ]:
# . Find and print the largest number in input_list using the reduce() function.
input_list = [31, 63, 76, 89]
answer = reduce(lambda x,y: x if x > y else y, input_list)

In [ ]:
((500//7) % 5) ** 3

1

In [ ]:
S = "I love Python"

In [ ]:
S[2:6]

'love'

In [ ]:

S[-11:-7]

'love'

In [ ]:
L = [1, 2, 3]

In [ ]:
L * 2

[1, 2, 3, 1, 2, 3]

In [ ]:
L = [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]

In [ ]:
L[2: ]

[[7, 8, 9, 10]]

In [ ]:
T = (3, 5, 7, 11)

In [ ]:
T.append(9)

AttributeError: ignored

In [ ]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [ ]:
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

NameError: ignored

In [ ]:
def my_func(*args):
    return(sum(args))

print(my_func(1,2,3,4,5))
print(my_func(6,7,8))

15
21

In [ ]:
L = [1, 2, 3, 4]

In [ ]:
list(map(lambda x : x ** 2, L))

[1, 4, 9, 16]

In [10]:
#Using iloc index the dataframe to print all the rows of the columns at index 3,4,5.
import pandas as pd
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df_2 =  df.iloc[:, [3,4,5]]
print(df_2.head(20))

    day  FFMC    DMC
0   fri  86.2   26.2
1   tue  90.6   35.4
2   sat  90.6   43.7
3   fri  91.7   33.3
4   sun  89.3   51.3
5   sun  92.3   85.3
6   mon  92.3   88.9
7   mon  91.5  145.4
8   tue  91.0  129.5
9   sat  92.5   88.0
10  sat  92.5   88.0
11  sat  92.8   73.2
12  fri  63.5   70.8
13  mon  90.9  126.5
14  wed  92.9  133.3
15  fri  93.3  141.2
16  sat  91.7   35.8
17  mon  84.9   32.8
18  wed  89.2   27.9
19  sat  86.3   27.4

In [ ]:
#Using loc function print out all the columns and rows from 2 to 20 of the 'df' dataset.
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df_2 = 
print(df_2)

In [16]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
# greater than 0, 'wind' is greater than 1 and the 'temp' is greater than 15.
df1=df[(df['area']>0)]
df2=df1[(df1['wind']>1)]
df_2 = df2[(df2['temp']>15)]
print(df_2.head(20))

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
138  9  9   jul  tue  85.8   48.3  313.4   3.9  18.0  42   2.7   0.0  0.36
139  1  4   sep  tue  91.0  129.5  692.6   7.0  21.7  38   2.2   0.0  0.43
140  2  5   sep  mon  90.9  126.5  686.5   7.0  21.9  39   1.8   0.0  0.47
141  1  2   aug  wed  95.5   99.9  513.3  13.2  23.3  31   4.5   0.0  0.55
142  8  6   aug  fri  90.1  108.0  529.8  12.5  21.2  51   8.9   0.0  0.61
143  1  2   jul  sat  90.0   51.3  296.3   8.7  16.6  53   5.4   0.0  0.71
144  2  5   aug  wed  95.5   99.9  513.3  13.2  23.8  32   5.4   0.0  0.77
145  6  5   aug  thu  95.2  131.7  578.8  10.4  27.4  22   4.0   0.0  0.90
147  8  3   sep  tue  84.4   73.4  671.9   3.2  24.2  28   3.6   0.0  0.96
148  2  2   aug  tue  94.8  108.3  647.1  17.0  17.4  43   6.7   0.0  1.07
149  8  6   sep  thu  93.7   80.9  685.2  17.9  23.7  25   4.5   0.0  1.12
150  6  5   jun  fri  92.5   56.4  433.3   7.1  23.2  39   5.4   0.0  1.19
151  9  9   jul  sun  90.1   68.6  355.2   7.2  24.8  29   2.2   0.0  1.36
152  3  4   jul  sat  90.1   51.2  424.1   6.2  24.6  43   1.8   0.0  1.43
153  5  4   sep  fri  94.3   85.1  692.3  15.9  20.1  47   4.9   0.0  1.46
154  1  5   sep  sat  93.4  145.4  721.4   8.1  29.6  27   2.7   0.0  1.46
155  7  4   aug  sun  94.8  108.3  647.1  17.0  16.4  47   1.3   0.0  1.56
156  2  4   sep  sat  93.4  145.4  721.4   8.1  28.6  27   2.2   0.0  1.61
157  2  2   aug  wed  92.1  111.2  654.1   9.6  18.4  45   3.6   0.0  1.63
158  2  4   aug  wed  92.1  111.2  654.1   9.6  20.5  35   4.0   0.0  1.64

In [20]:
import pandas as pd
df_1 = pd.read_csv('https://query.data.world/s/vv3snq28bp0TJq2ggCdxGOghEQKPZo')
df_2 = pd.read_csv('https://query.data.world/s/9wVKjNT0yiRc3YbVJaiI8a6HGl2d74')
df_3 = df_1.merge(df_2, on='unique_id', how='inner')
print(df_3.head(20))

                           name  ...       cuisine_2
0     arnie morton's of chicago  ...      "american"
1                    art's deli  ...      "american"
2                 bel-air hotel  ...   "californian"
3                    cafe bizou  ...        "french"
4                     campanile  ...      "american"
5               chinois on main  ...        "french"
6                        citrus  ...   "californian"
7           fenix at the argyle  ...      "american"
8                       granita  ...   "californian"
9                    grill  the  ...      "american"
10                        katsu  ...         "asian"
11                  l'orangerie  ...        "french"
12  le chardonnay (los angeles)  ...        "french"
13               locanda veneta  ...       "italian"
14                    matsuhisa  ...         "asian"
15      palm  the (los angeles)  ...      "american"
16                       patina  ...   "californian"
17        philippe the original  ...      "american"
18                 pinot bistro  ...        "french"
19            rex il ristorante  ...       "italian"

[20 rows x 9 columns]

In [21]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

df_1 = pd.read_csv('https://query.data.world/s/vv3snq28bp0TJq2ggCdxGOghEQKPZo')
df_2 = pd.read_csv('https://query.data.world/s/9wVKjNT0yiRc3YbVJaiI8a6HGl2d74')
df_3 = pd.concat([df_1, df_2])
print(df_3.head())

                        name                     address  ... city_2 cuisine_2
0  arnie morton's of chicago   "435 s. la cienega blvd."  ...    NaN       NaN
1                 art's deli       "12224 ventura blvd."  ...    NaN       NaN
2              bel-air hotel      "701 stone canyon rd."  ...    NaN       NaN
3                 cafe bizou       "14016 ventura blvd."  ...    NaN       NaN
4                  campanile       "624 s. la brea ave."  ...    NaN       NaN

[5 rows x 9 columns]

Given three data frames containing the number of gold, silver, and bronze Olympic medals won by some countries, determine the total number of medals won by each country. 
Note: All the three data frames don’t have all the same countries. So, ensure you use the ‘fill_value’ argument (set it to zero), to avoid getting NaN values. Also, ensure you sort the final dataframe, according to the total medal count in descending order.

In [33]:

import numpy as np 
import pandas as pd

# Defining the three dataframes indicating the gold, silver, and bronze medal counts
# of different countries
gold = pd.DataFrame({'Country': ['USA', 'France', 'Russia'],
                         'Medals': [15, 13, 9]}
                    )
silver = pd.DataFrame({'Country': ['USA', 'Germany', 'Russia'],
                        'Medals': [29, 20, 16]}
                    )
bronze = pd.DataFrame({'Country': ['France', 'USA', 'UK'],
                        'Medals': [40, 28, 27]}
                    )
#bronze
df_3 = pd.concat([gold,silver, bronze]).groupby('Country').sum().sort_values(by=['Medals'],ascending=False).astype(float)
print(df_3)

         Medals
Country
France       53
Germany      20
Russia       25
UK           27
USA          72