<a href="https://colab.research.google.com/github/datasciencepractice/python-essential/blob/master/Basic-Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

String Operation

In [ ]:
some_sentance = "There is a space after end   "

In [ ]:
print(some_sentance.rstrip())

There is a space after end

In [ ]:
some_sentance_left = "   There is a space before start"

In [ ]:
print(some_sentance_left.lstrip())

There is a space after end

In [ ]:
some_sentance_both = "   trim space    "

In [ ]:
print(some_sentance_both.strip())

trim space

In [ ]:
increment = "100%"

In [ ]:
print(increment.rstrip("%"))

100

In [ ]:
number_with_char = "*1234#"

In [ ]:
print(number_with_char.lstrip("*").rstrip("#"))

1234

index and slice strings

In [ ]:
value = "2 person"
no_of_man = value[0]
print(no_of_man)

2

In [ ]:
print(value[2:])

person

In [ ]:
print(value[2:5])

per

In [ ]:
batch = "5 oranges 3 monkeys n"
fruit = batch [:9]
print(fruit)

5 oranges

In [ ]:
nums = "123456"
even_nums = nums[1::2]
print (even_nums)

246

In [ ]:
odd_nums = nums[0::2]
print(odd_nums)

135

In [ ]:
A = "Data"
B = "Analysis"
C = "Panda"
print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Panda

# Assignment
input_str = "Kumar_Ravi_003"
second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'

In [ ]:
input_str = "Kumar_Ravi_003" 
second_name=input_str[:5]
print(second_name)

Kumar

In [ ]:
first_name=input_str[6:10]
print(first_name)

Ravi

In [ ]:
customer_code = input_str[11:]
print(customer_code)

003

In [ ]:
py="I love Python programming"
print(py[7:13])

Python

In [ ]:
print(len('Python'))

6